{% extends 'base.html' %}

{% block content %}

<br/>

<section id="cover" class="min-vh-100">
  <div id="cover-caption">
      <div class="container">
          <div class="row text-white">
              <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                  <h1 class="display-4 " style="color:blue;">ENTER THE STOCK SYMBOL TO PREDICT THE FUTURE!</h1>
                  <div class="px-2">
                      <form action="{% url 'insertintotable' %}" method="post" class="justify-content-center">{% csrf_token %}
                          <div class="form-group">
                              {% if not_found %}
                                <div class="alert alert-danger" style="color: red;" role="alert">
                                Stock Symbol (Ticker) Not Found. Please Enter a Valid Stock Symbol
                                </div>
                              {% endif %}
                              <input type="text" name="stocksymbol" class="form-control" placeholder="Stock Symbol" style="text-align: center;">
                          </div>
                          <br>
                          <button type="submit" class="btn btn-primary btn-lg">Predict</button>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>


<br/>


<!-- {% if ticker %}
    {{ ticker }}
{% endif %}

{% if api %}
    {% if api == "Error..." %}
        There was a problem with your ticker symbol, please try again
    {% else %}
        <h1>{{ api.companyName }}</h1><br/>
        Price: ${{ api.latestPrice }}</h1><br/>
        Previous Close: {{ api.previousClose }}</h1><br/>
        Market Cap: {{ api.marketCap }}</h1><br/>
        YTD Change: {{ api.ytdChange }}</h1><br/>
        52 Week High: {{ api.week52High }}</h1><br/>
        52 Week Low: {{ api.week52Low }}</h1><br/>

    {% endif %}

{% endif %} -->

{% endblock content %}